PORT=5555
MONGO_URI=
JWT_SECRET=
AUTH_COOKIE_NAME=glazia_auth
CORS_ORIGINS=https://glazia.in,https://www.glazia.in,https://quotation.glazia.in,http://localhost:3000,http://localhost:3001

META_TOKEN=
META_NUMID=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_S3_BASE_URL=

MAIL_USER=
MAIL_PASS=
